.place-card__delete-icon {
  background: url(../../../src/img/trash-icon.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  display: block;
}

.place-card__delete-icon_not-my {
  display: none;
}
